@import url("https://fonts.googleapis.com/css2?family=Rajdhani&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #0c141d;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #2b2c30a1;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 110px;
  z-index: 1;
  position: relative;
}

.logo-img {
  width: 110px;
}

ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 50px;
}

li {
  list-style: none;
  padding: 20px;
}

a {
  color: #cecce4a9;
  text-decoration: none;
  font-family: Rajdhani;
  font-size: 1.2rem;
  font-weight: 3;
}

a:hover {
  color: white;
}

.btn-login {
  margin-left: -300px;
  width: 100px;
  height: 40px;
  border-radius: 10px;
  border: none;
  background-color: transparent;
  color: #fff;
  font-family: "Balsamiq Sans", cursive;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.btn-login:hover {
  background-color: #ad4a1a;
}

.hero {
  background-image: url("./img/328327.jpg");
  max-width: 50vw;
  height: 100vh;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: -110px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 300px;
}

.container-hero {
  padding-top: 300px;
}

.hero-title {
  color: white;
  font-size: 50px;
  text-align: center;
  font-family: "Saira Condensed", sans-serif;
}

.btn-div {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding-top: 50px;
}

.hero-btna {
  width: 120px;
  height: 50px;
  border: 3px solid white;
  background-color: transparent;
  color: antiquewhite;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero-btna:hover {
  background-color: #ce5519;
}

.hero-btn-b {
  width: 120px;
  height: 50px;
  border: 3px solid white;
  background-color: transparent;
  color: antiquewhite;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.hero-btn-b:hover {
  background-color: #ce5519;
}

.icons {
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  text-align: center;
  margin: 0 auto;
  padding-left: 250px;
}

span {
  margin: 0 20px;
  overflow-block: hidden;
  position: relative;
  display: block;
}

i {
  color: white;
  font-size: 33px;
  overflow: hidden;
  -webkit-transition: all 0.5s fade out;
  transition: all 0.5s fade out;
}

.fab {
  -webkit-box-shadow: 0 5px 4px #0c141d inset;
          box-shadow: 0 5px 4px #0c141d inset;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.fab:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.olay {
  width: 100%;
  height: 100vh;
  background: #0c141d;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(12, 20, 29, 0.572164)), color-stop(52%, rgba(12, 20, 29, 0.754237)), to(#0c141d));
  background: linear-gradient(180deg, rgba(12, 20, 29, 0.572164) 0%, rgba(12, 20, 29, 0.754237) 52%, #0c141d 100%);
  margin-top: -100vh;
}

@media only screen and (max-width: 768px) {
  header {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #2b2c30a1;
    width: 100%;
    display: block;
    height: 50px;
    z-index: 1;
    position: relative;
  }
  .logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .hamburger {
    padding-top: 10px;
  }
  .ham {
    margin-left: -50px;
    color: #fff;
  }
  .close {
    position: absolute;
    margin-left: -40px;
    margin-top: -10px;
    display: none;
    color: #fff;
  }
  nav {
    background: #2b2c30a1;
    width: 100%;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    position: absolute;
    margin-top: 15px;
  }
  .logo-img {
    width: 30px;
  }
  ul {
    background: #2b2c30a1;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-left: 60px;
    display: block;
  }
  li {
    list-style: none;
    padding: 20px;
  }
  a {
    color: #cecce4a9;
    text-decoration: none;
    font-family: Rajdhani;
    font-size: 1.2rem;
    font-weight: 3;
  }
  a:hover {
    color: white;
  }
  .btn-login {
    width: 100px;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: transparent;
    color: #fff;
    position: relative;
    font-family: "Balsamiq Sans", cursive;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    z-index: 99;
  }
  .btn-login:hover {
    background-color: #ad4a1a;
  }
  .hero {
    background-image: url("./img/328327.jpg");
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-top: -110px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0 300px;
  }
  .container-hero {
    padding-top: 300px;
  }
  .hero-title {
    color: white;
    font-size: 50px;
    text-align: center;
    font-family: "Saira Condensed", sans-serif;
  }
  .btn-div {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding-top: 50px;
  }
  .hero-btna {
    width: 120px;
    height: 50px;
    border: 3px solid white;
    background-color: transparent;
    color: antiquewhite;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .hero-btna:hover {
    background-color: #ce5519;
  }
  .hero-btn-b {
    width: 120px;
    height: 50px;
    border: 3px solid white;
    background-color: transparent;
    color: antiquewhite;
    border-radius: 20px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  .hero-btn-b:hover {
    background-color: #ce5519;
  }
  .icons {
    padding-top: 30px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    padding-left: 250px;
  }
  span {
    margin: 0 20px;
    overflow-block: hidden;
    position: relative;
    display: block;
  }
  i {
    color: white;
    font-size: 33px;
    overflow: hidden;
    -webkit-transition: all 0.5s fade out;
    transition: all 0.5s fade out;
  }
}
/*# sourceMappingURL=style.css.map */